
<div class="container-field">
  <div class="row">

    <%= render "devise/shared/user_nav" %>

      <div class="col-lg-8">
        <h1>プロフィール</h1>
        <div><%= image_tag(@user.user_img_url, class:"user-img") %></div>
        <div>名前：<%= @user.name %></div>
        <div>メールアドレス：<%= @user.email %></div>
        <div>プロフィール：<%= @user.profile %></div>
      </div>

    </div>
</div>