
<div class="container-field">
  <div class="row gx-0">

    <%= render "devise/shared/user_nav" %>

    <div class="col-lg-10 bg-secondary bg-opacity-10">

      <div class="row gx-0 m-3 user-show" >

        <% if flash[:notice].present? %>
          <p class="notice"><%= notice %></p>
        <% end %>

        <h4>プロフィール</h4>
        <div><%= image_tag(@user.user_img_url, class:"user-img") %></div>
        <div class="col-4">名前</div>
        <div class="col-8"><%= @user.name %></div>
        <div class="col-4">メールアドレス</div>
        <div class="col-8"><%= @user.email %></div>
        <div class="col-4">プロフィール</div>
        <div class="col-8"><%= @user.profile %></div>

      </div>
    </div>
  </div>
</div>
