

<div class='container'>

  <h1>予約済みROOM一覧</h1>
  <div class='reservation'>
   
    <table>
      <thead>
        <tr>
          <th>ルーム画像</th>
          <th>ルーム名</th>
          <th>ルーム紹介</th>
          <th>合計金額</th>
          <th>開始日</th>
          <th>終了日</th>
          <th>予約確定日時</th>
        </tr>
      </thead>
  
  <div>
      <tbody >
        <% @reservations.each do |reservation| %>
        <tr>
          <td><%= image_tag(reservation.room.room_img_url, class:'room-img') %></td>
          <td><%= reservation.room.room_name %></td>
          <td><%= reservation.room.room_introduction %></td>
          <td>¥<%= reservation.total_price %></td>
          <td><%= reservation.check_in %></td>
          <td><%= reservation.check_out %></td>
          <td><%= reservation.created_at %></td>
        </tr>
        <% end %>
      </tbody>
  
    </table>
  
   </div>
  </div>
