
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="reservation-show mt-3">
        <h4 class="p-3">ご予約内容</h4>
        <div>
          お部屋名<br/>
          <%= @reservation.room.room_name %>
        </div>
        <div>
          チェックイン<br/>
          <input type="text" class="form-control" value="<%= @reservation.check_in %>">
        </div>
        <div>
          チェックアウト<br/>
          <input type="text" class="form-control" value="<%= @reservation.check_out %>">
        </div>
        <div>
          合計金額<br/>
          <input type="text" class="form-control" value="¥ <%= @reservation.total_price %>">
        </div>
        <div>予約が完了しました</div>
      </div>

      <div>
        <%= link_to 'TOPへ戻る', root_path, class:"btn btn-primary mt-3"  %>
        <%= link_to '予約済み部屋一覧へ', reservations_path, class:"btn btn-primary mt-3"  %>
      </div>
    </div>
  </div>
</div>
