
<div class="container-field room-index">

  <h3>検索結果：<%= @rooms.count %> 件</h3>
  <div class="row d-flex flex-row">
    <% @rooms.each do |room| %>
      <div class="col-sm-6 col-lg-4 col-xl-3 p-2">
        <div class="room-box">
          <%= link_to room, class:"room-box-link" do%>
            <div><%= image_tag(room.room_img_url, class:"room-img") %></div>
            <div class="room-title-box">
              <div class="room-index-name"><%= room.room_name %></div> 
              <div class="room-index-address"><%= room.address %></div>
              <div class="room-index-price">¥<%= room.price %></div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
