
<div class="container room-show">
  <div class="row">

    <div class="col-md-8">
      <div><%= image_tag(@room.room_img_url, class:"room-large-img", alt:"room_img") %></div>
      <div class="room-title">
        <%= image_tag(@user.user_img_url, class:"user-img", alt:"owner_img") %>
        <div class="room-name"><%= @room.room_name %></div>
      </div>
      <div class="address"><%= @room.address %></div>
      <div class="room-introduction"><%= @room.room_introduction %></div>
    </div>

    <div class="reservation-box col-md-4">
      <div class="room-show-form">
        
        <!-- フラッシュメッセージ(redirect_toで戻るため、@reservation.errorsが引き渡せない) -->
        <% if flash[:error].present? %>
          <ul class="errors text-danger">
            <% flash[:error].each do |e| %>
              <li><%= e %></li>
            <% end %>
          </ul>
        <% end %>

        <h4> ¥ <%= @room.price %> / 日</h4>
        <%= form_with model: @reservation, url: confirm_reservations_path, local: true do |f| %>
          <div>
            <%= f.label :check_in, "チェックイン" %><br>
            <%= f.date_field :check_in, class:"reservation-form" %>
          </div>
          <div>
            <%= f.label :check_out, "チェックアウト" %><br>
            <%= f.date_field :check_out, class:"reservation-form" %>
          </div>
          <div>
            <%= f.label :total_gests, "宿泊人数" %><br>
            <%= f.number_field :total_gests, class:"reservation-form" %>
          </div>
            <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.hidden_field :id %>
            <%= f.submit "確認画面へ", class:"btn btn-primary" %>
        <% end %>

      </div>
    </div>

  </div>
</div>
