<!DOCTYPE html>
<html>
  <head>
    <title>PoteShareApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="logo-img"><%= link_to image_tag("logo.png"), "/" %></div>

      <%= form_with url:area_search_rooms_path, local: true, method: :get do |f| %>
        <%= f.text_field :keyword, placeholder: "エリア" %>
        <%= f.submit "検索" %>
      <% end %>

      <%= form_with url:search_rooms_path, local: true, method: :get do |f| %>
        <%= f.text_field :keyword, placeholder: "キーワード" %>
        <%= f.submit "検索" %>
      <% end %>

      <nav>
        <% if user_signed_in? %>
          <%= "こんにちは #{current_user.name}"  %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <%= link_to 'プロフィール', users_show_path %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path, class:"btn btn-primary" %>
          <%= link_to '登録', new_user_registration_path, class:"btn btn-secondary" %>
        <% end %>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <p>©️ 2020 POTEPAN.INC.</p>
    </footer>

  </body>
</html>
